body {
  background-color: lightblue;
}

header {
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  background-color: blueviolet;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 55%; 
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;  
}